{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content1 %}
	<h6>Your Account</h6>
{% endblock %}
{% block content %}

<!-- Profile Settings Responsive -->

<div class="profile-settings-responsive">

	<a href="29-YourAccount-AccountSettings.html#" class="js-profile-settings-open profile-settings-open">
		<i class="fa fa-angle-right" aria-hidden="true"></i>
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</a>
	<div class="mCustomScrollbar" data-mcs-theme="dark">
		<div class="ui-block">
			<div class="your-profile">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Your PROFILE</h6>
				</div>

				<div id="accordion1" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" role="tab" id="headingOne-1">
							<h6 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="29-YourAccount-AccountSettings.html#collapseOne-1" aria-expanded="true" aria-controls="collapseOne">
									Profile Settings
									<svg class="olymp-dropdown-arrow-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-dropdown-arrow-icon"></use></svg>
								</a>
							</h6>
						</div>

						<div id="collapseOne-1" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
							<ul class="your-profile-menu">
								<li>
									<a href="{% url 'account:personal-info' %}">Personal Information</a>
								</li>
								<li>
									<a href="{% url 'account:settings' %}">Account Settings</a>
								</li>
								<li>
									<a href="{% url 'account:change-password' %}">Change Password</a>
								</li>
								<li>
									<a href="{% url 'account:hobbies-interest' %}">Hobbies and Interests</a>
								</li>
								<li>
									<a href="{% url 'account:education-employment' %}">Education and Employement</a>
								</li>
							</ul>
						</div>
					</div>
				</div>


				<div class="ui-block-title">
					<a href="{% url 'account:notifications' %}" class="h6 title">Notifications</a>
					<a href="29-YourAccount-AccountSettings.html#" class="items-round-little bg-primary">8</a>
				</div>
				<div class="ui-block-title">
					<a href="{% url 'account:chat' %}" class="h6 title">Chat / Messages</a>
				</div>
				<div class="ui-block-title">
					<a href="{% url 'account:friend-request' %}" class="h6 title">Friend Requests</a>
					<a href="29-YourAccount-AccountSettings.html#" class="items-round-little bg-blue">4</a>
				</div>
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">FAVOURITE PAGE</h6>
				</div>
				<div class="ui-block-title">
					<a href="{% url 'account:favpage-create' %}" class="h6 title">Create Fav Page</a>
				</div>
				<div class="ui-block-title">
					<a href="{% url 'account:favpage-create' %}" class="h6 title">Fav Page Settings</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Profile Settings Responsive -->



<!-- Main Header Account -->

<div class="main-header">
	<div class="content-bg-wrap bg-account"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Your Account Dashboard</h1>
					<p>Welcome to your account dashboard! Here you’ll find everything you need to change your profile
	information, settings, read notifications and requests, view your latest messages, change your pasword and much
	more! Also you can create or manage your own favourite page, have fun!</p>
				</div>
			</div>
		</div>
	</div>
	<img class="img-bottom" src="{% static 'img/account-bottom.png' %}" alt="friends">
</div>

<!-- ... end Main Header Account -->

<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Notifications</h6>
					<a href="33-YourAccount-Notifications.html#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>
				</div>

				
				<!-- Notification List -->
				
				<ul class="notification-list">
					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar1-sm.jpg' %}" alt="author">
						</div>
						<div class="notification-event">
							<a href="33-YourAccount-Notifications.html#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="33-YourAccount-Notifications.html#" class="notification-link">profile status</a>.
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
						</div>
						<span class="notification-icon">
												<svg class="olymp-comments-post-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>
											</span>
				
						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
						</div>
					</li>
				
					<li class="un-read">
						<div class="author-thumb">
							<img src="{% static 'img/avatar2-sm.jpg' %}" alt="author">
						</div>
						<div class="notification-event">
							You and <a href="33-YourAccount-Notifications.html#" class="h6 notification-friend">Nicholas Grissom</a> just became friends. Write on <a href="33-YourAccount-Notifications.html#" class="notification-link">his wall</a>.
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 hours ago</time></span>
						</div>
						<span class="notification-icon">
												<svg class="olymp-happy-face-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-happy-face-icon"></use></svg>
											</span>
				
						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
						</div>
					</li>
				
					<li class="with-comment-photo">
						<div class="author-thumb">
							<img src="{% static 'img/avatar3-sm.jpg' %}" alt="author">
						</div>
						<div class="notification-event">
							<a href="33-YourAccount-Notifications.html#" class="h6 notification-friend">Sarah Hetfield</a> commented on your <a href="33-YourAccount-Notifications.html#" class="notification-link">photo</a>.
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 5:32am</time></span>
						</div>
						<span class="notification-icon">
												<svg class="olymp-comments-post-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>
											</span>
				
						<div class="comment-photo">
							<img src="{% static 'img/comment-photo.jpg' %}" alt="photo">
							<span>“She looks incredible in that outfit! We should see each...”</span>
						</div>
						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
						</div>
					</li>
				
					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar4-sm.jpg' %}" alt="author">
						</div>
						<div class="notification-event">
							<a href="33-YourAccount-Notifications.html#" class="h6 notification-friend">Chris Greyson</a> liked your <a href="33-YourAccount-Notifications.html#" class="notification-link">profile status</a>.
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 18th at 8:22pm</time></span>
						</div>
						<span class="notification-icon">
											<svg class="olymp-heart-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-heart-icon"></use></svg>
										</span>
						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
						</div>
					</li>
				
					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar5-sm.jpg' %}" alt="author">
						</div>
						<div class="notification-event">
							<a href="33-YourAccount-Notifications.html#" class="h6 notification-friend">Green Goo Rock</a> invited you to attend to his event Goo in <a href="33-YourAccount-Notifications.html#" class="notification-link">Gotham Bar</a>.
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
						</div>
						<span class="notification-icon">
												<svg class="olymp-calendar-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-calendar-icon"></use></svg>
											</span>
				
						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
						</div>
					</li>
				
					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar6-sm.jpg' %}" alt="author">
						</div>
						<div class="notification-event">
							<a href="33-YourAccount-Notifications.html#" class="h6 notification-friend">James Summers</a> commented on your new <a href="33-YourAccount-Notifications.html#" class="notification-link">profile status</a>.
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 2nd at 8:29pm</time></span>
						</div>
						<span class="notification-icon">
												<svg class="olymp-comments-post-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>
											</span>
				
						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
						</div>
					</li>
				
					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar7-sm.jpg' %}" alt="author">
						</div>
						<div class="notification-event">
							<a href="33-YourAccount-Notifications.html#" class="h6 notification-friend">Marina Valentine</a> commented on your new <a href="33-YourAccount-Notifications.html#" class="notification-link">profile status</a>.
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 2nd at 10:07am</time></span>
						</div>
						<span class="notification-icon">
												<svg class="olymp-comments-post-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>
											</span>
				
						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
						</div>
					</li>
				</ul>
				
				<!-- ... end Notification List -->

			</div>

			
			<!-- Pagination -->
			
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
						<a class="page-link" href="33-YourAccount-Notifications.html#" tabindex="-1">Previous</a>
					</li>
					<li class="page-item"><a class="page-link" href="33-YourAccount-Notifications.html#">1<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);"></div></div></a></li>
					<li class="page-item"><a class="page-link" href="33-YourAccount-Notifications.html#">2</a></li>
					<li class="page-item"><a class="page-link" href="33-YourAccount-Notifications.html#">3</a></li>
					<li class="page-item"><a class="page-link" href="33-YourAccount-Notifications.html#">...</a></li>
					<li class="page-item"><a class="page-link" href="33-YourAccount-Notifications.html#">12</a></li>
					<li class="page-item">
						<a class="page-link" href="33-YourAccount-Notifications.html#">Next</a>
					</li>
				</ul>
			</nav>
			
			<!-- ... end Pagination -->

		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none">
			<div class="ui-block">

				
				
				<!-- Your Profile  -->
				
				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Your PROFILE</h6>
					</div>
				
					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="29-YourAccount-AccountSettings.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Profile Settings
										<svg class="olymp-dropdown-arrow-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-dropdown-arrow-icon"></use></svg>
									</a>
								</h6>
							</div>
				
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
									<li>
										<a href="{% url 'account:personal-info' %}">Personal Information</a>
									</li>
									<li>
										<a href="{% url 'account:settings' %}">Account Settings</a>
									</li>
									<li>
										<a href="{% url 'account:change-password' %}">Change Password</a>
									</li>
									<li>
										<a href="{% url 'account:hobbies-interest' %}">Hobbies and Interests</a>
									</li>
									<li>
										<a href="{% url 'account:education-employment' %}">Education and Employement</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				
					<div class="ui-block-title">
						<a href="{% url 'account:notifications' %}" class="h6 title">Notifications</a>
						<a href="29-YourAccount-AccountSettings.html#" class="items-round-little bg-primary">8</a>
					</div>
					<div class="ui-block-title">
						<a href="{% url 'account:chat' %}" class="h6 title">Chat / Messages</a>
					</div>
					<div class="ui-block-title">
						<a href="{% url 'account:friend-request' %}" class="h6 title">Friend Requests</a>
						<a href="29-YourAccount-AccountSettings.html#" class="items-round-little bg-blue">4</a>
					</div>
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">FAVOURITE PAGE</h6>
					</div>
					<div class="ui-block-title">
						<a href="{% url 'account:favpage-create' %}" class="h6 title">Create Fav Page</a>
					</div>
					<div class="ui-block-title">
						<a href="{% url 'account:favpage-create' %}" class="h6 title">Fav Page Settings</a>
					</div>
				</div>
				
				<!-- ... end Your Profile  -->
				

			</div>
		</div>
	</div>
</div>

<!-- ... end Your Account Personal Information -->





<!-- Window-popup-CHAT for responsive min-width: 768px -->

<div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">

	<div class="modal-content">
		<div class="modal-header">
			<span class="icon-status online"></span>
			<h6 class="title" >Chat</h6>
			<div class="more">
				<svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>
				<svg class="olymp-little-delete js-chat-open"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
			</div>
		</div>
		<div class="modal-body">
			<div class="mCustomScrollbar">
				<ul class="notification-list chat-message chat-message-field">
					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar14-sm.jpg' %}" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="{% static 'img/author-page.jpg' %}" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Don’t worry Mathilda!</span>
							<span class="chat-message-item">I already bought everything</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar14-sm.jpg' %}" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>
				</ul>
			</div>

			<form class="need-validation">

		<div class="form-group label-floating is-empty">
			<label class="control-label">Press enter to post...</label>
			<textarea class="form-control" placeholder=""></textarea>
			<div class="add-options-message">
				<a href="33-YourAccount-Notifications.html#" class="options-message">
					<svg class="olymp-computer-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-computer-icon"></use></svg>
				</a>
				<div class="options-message smile-block">

					<svg class="olymp-happy-sticker-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-happy-sticker-icon"></use></svg>

					<ul class="more-dropdown more-with-triangle triangle-bottom-right">
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat1.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat2.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat3.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat4.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat5.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat6.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat7.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat8.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat9.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat10.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat11.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat12.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat13.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat14.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat15.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat16.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat17.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat18.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat19.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat20.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat21.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat22.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat23.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat24.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat25.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat26.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="33-YourAccount-Notifications.html#">
								<img src="{% static 'img/icon-chat27.png' %}" alt="icon">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</form>
		</div>
	</div>

</div>

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->



<a class="back-to-top" href="33-YourAccount-Notifications.html#">
	<img src="svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>

{% endblock %}